<div class="mx-auto max-w-7xl lg:flex lg:gap-x-16 lg:px-8">
  <%= render 'shared/owner_sidebar' %>
  
  <main>
    <div class="px-8 py-8 border rounded-md lg:flex-auto my-8">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">Property Images</h2>
        <div class="mt-2 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-1">
          <% @property.images.each do |image| %>
            <div class="relative w-40 h-40">
              <%= image_tag image, class:'w-40 h-40 object-cover' %>
              <%= button_to remove_image_owner_property_path(image_id: image.id), method: :delete, class:"absolute top-1 right-1 rounded-3xl p-1 bg-white opacity-50" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
              <% end %>
            </div>
          <% end %>
        </div>

        <%= form_with model: @property, url: add_images_owner_property_path, class:'mt-6' do |f| %>
          <div>
            <div class="">
              <%= f.label 'Add Images', class:'block text-base font-semibold leading-7 text-gray-900 mb-2' %>
              <%= f.file_field :images, class:'font-medum', multiple: true %>
              <%= f.submit "Upload Images", class:"cursor-pointer mt-2 flex items-center justify-center rounded-md border border-transparent bg-primary px-8 py-2 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="px-8 py-8 border rounded-md lg:flex-auto my-8">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">Property Information</h2>

        <%= form_with model: @property, url: owner_property_path, class:'mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6' do |f| %>
          <div class="sm:col-span-3">
            <%= f.label :name, class:'block text-sm font-medium leading-6 text-gray-900' %>
            <%= f.text_field :name, class: 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' %>
          </div>

          <div class="sm:col-span-3">
            <%= f.label :price, class:'block text-sm font-medium leading-6 text-gray-900' %>
            <%= f.text_field :price, class: 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' %>
          </div>

          <div class="col-span-full">
            <%= f.label :headline, class:'block text-sm font-medium leading-6 text-gray-900' %>
            <%= f.text_field :headline, class: 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' %>
          </div>

          <div class="col-span-full">
            <%= f.label :description, class:'block text-sm font-medium leading-6 text-gray-900' %>
            <%= f.text_field :description, class: 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' %>
          </div>

          <div class="col-span-full">
            <%= f.label :address_1, class:'block text-sm font-medium leading-6 text-gray-900' %>
            <%= f.text_field :address_1, class: 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' %>
          </div>

          <div class="sm:col-span-4">
            <%= f.label :address_2, class:'block text-sm font-medium leading-6 text-gray-900' %>
            <%= f.text_field :address_2, class: 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' %>
          </div>

          <div class="sm:col-span-2">
            <%= f.label :city, class:'block text-sm font-medium leading-6 text-gray-900' %>
            <%= f.text_field :city, class: 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' %>
          </div>

          <div class="sm:col-span-2">
            <%= f.label :state, class:'block text-sm font-medium leading-6 text-gray-900' %>
            <%= f.text_field :state, class: 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' %>
          </div>

          <div class="sm:col-span-2">
            <%= f.label :country, class:'block text-sm font-medium leading-6 text-gray-900' %>
            <%= f.country_select :country_code, class: 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' %>
          </div>

          <div class="col-span-full">
            <%= f.submit "Save", class:"cursor-pointer mt-2 flex items-center justify-center rounded-md border border-transparent bg-primary px-8 py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="px-8 py-8 border rounded-md lg:flex-auto my-8">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">Amenities</h2>

        <%= form_with model: @property, url: update_amenities_owner_property_path, class:'mt-6' do |f| %>
          <div class="mt-6 grid grid-cols-1 md:grid-cols-2">
            <% Amenity.all.each do|amenity| %>
              <div class="py-2 flex">
                <%= f.check_box :amenity_ids, {class: 'w-6 h-6 mr-2 rounded-md text-primary focus:ring-primary', multiple: :true}, amenity.id, nil  %>
                <%= image_tag "amenity_icons/#{amenity.icon}", class:"w-6 h-6" %>
                <%= f.label amenity.name, class:'ms-4 font-light' %>
              </div>
            <% end %>
          </div>
          
          <div class="col-span-full">
            <%= f.submit "Save", class:"cursor-pointer mt-2 flex items-center justify-center rounded-md border border-transparent bg-primary px-8 py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="px-8 py-8 border border-red-500 rounded-md lg:flex-auto my-8">
      <div>
        <h2 class="text-2xl font-semibold leading-7 text-red-500">Delete Property</h2>
        <p class="my-2">This action is permanent and irreversible. Are you sure?</p>
         <%= button_to 'Delete', owner_property_path, method: :delete, class:"mt-4 rounded p-1 bg-red-500 hover:bg-red-700 text-white px-8 py-2" %>
      </div>
    </div>
  </main>
</div>
