<div class="mx-auto max-w-7xl lg:flex lg:gap-x-16 lg:px-8">  
  <main class="px-8 my-8 lg:flex-auto">
    <div>
      <h2 class="text-2xl font-semibold leading-7 text-gray-900">Add Review</h2>
    </div>

    <div class="mt-4 border border-gray-300 rounded-xl p-6 h-min">
      <div class="flex justify-between">
        <div class="flex items-center">
          <%= image_tag @reservation.property.images[0], class:"w-24 h-24 object-cover rounded-md"%>
          <div class="ml-3 text-black font-medium">
            <div class=><%= @reservation.property.name %> - <%= @reservation.property.city %>, <%= @reservation.property.state %></div>
            <span class="inline-flex items-center pointer-events-none block text-sm text-black mt-2">
              <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 12px; width: 12px; fill: currentcolor;">
                <path fill-rule="evenodd" d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"></path>
              </svg>
              <%= @reservation.property.average_final_rating.round(2) %> (<%= @reservation.property.reviews_count %> reviews)
            </span>
          </div>
        </div>
      </div>

      <div class="relative py-6">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
      </div>

      <div>
        <%= form_with url: reservation_reviews_path() do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :property_id, value: @reservation.property_id %>

          <div class="flex flex-col py-4">
            <%= f.label :content %>
            <%= f.text_area :content %>
          </div>

          <div data-controller="rating">
            <div class="flex flex-col py-4">
              <%= f.label :cleanliness_rating %>
              <div class="flex">
                <%= f.hidden_field :cleanliness_rating, data: {"rating-target": "cleanliness_rating"} %>
                <% 5.times do |i| %>
                  <svg 
                    class="fill-gray-300 h-6 w-6 flex-shrink-0" 
                    viewBox="0 0 20 20" 
                    fill="currentColor"
                    aria-hidden="true"
                    data-action="click->rating#setRating"
                    data-category="cleanliness"
                    data-rating="<%= i + 1 %>"
                    data-rating-target="star"
                  >
                    <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                  </svg>
                <% end %>
              </div>
            </div>
          </div>

          <%= f.hidden_field :accuracy_rating, value: 5 %>
          <%= f.hidden_field :checkin_rating, value: 3 %>
          <%= f.hidden_field :communication_rating, value: 5 %>
          <%= f.hidden_field :location_rating, value: 4 %>
          <%= f.hidden_field :value_rating, value: 2 %>

          <%= f.submit "Submit Review" %>
        <% end %>
      </div>

    </div>
  </main>
</div>
